ws-parent/ws-interface/src/main/webapp/wsdl/getGameDetailsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.hu.nl/gameDetailsRequest" 
	targetNamespace="http://www.hu.nl/gameDetailsRequest"
	elementFormDefault="unqualified">


	<xs:element name="gameDetailsRequest" type="tns:GameDetailsRequest" />
	<xs:complexType name="GameDetailsRequest">
		<xs:all minOccurs="1">
			<xs:element name="appId">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="99999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>

</xs:schema>